.container {
  width: "100%";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(31, 36, 164);
}

.dropdown {
  margin-top: 20px;
}

.initial {
  margin-top: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  text-align: left;
  margin-top: 50px;
}

.text {
  margin-bottom: 10px;
  color: rgb(30, 19, 130);
}

.table {
  margin-top: 20px;
  width: auto;
}

table,
th,
td {
  border: 2px solid rgb(105, 131, 224);
  border-collapse: collapse;
  text-align: center;
}
